MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://medmkp:medmkp@127.0.0.1:55432/medmkp_medusa
DB_NAME=medmkp_medusa
DB_SSL=false

# For Render Postgres, set DATABASE_URL in your local .env and use:
# DB_SSL=true
